*.pyc

.pytest_cache

__pycache__

*.log

*.html
!tests/test_data/gui/*.html

*.setup

.DS_Store

<fdopen>

.vscode/

log.lammps

.idea/

doc/_build/

build/lib/

results*.csv

MDMC.egg-info/

prof

.coverage

.ipynb_checkpoints/
